<!-- Logo dibuat di freelogodesign.org -->
<!-- Template yg telah dimodifikasi dari templateshub.net oleh Dmitry Volkov-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link rel="stylesheet" href="/login/fonts/iconic/css/material-design-iconic-font.min.css" type="text/css">
    <link rel="stylesheet" href="/homepage/fonts/ioniconse0a5.woff2" type="text/css">
    <link rel="stylesheet" href="/homepage/fonts/ioniconse0a5.woff" type="text/css">
    <link rel="stylesheet" href="/homepage/fonts/ioniconse0a5.ttf" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



    <!-- CSS -->
    <link rel="stylesheet" href="/homepage/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/homepage/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/homepage/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/homepage/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/homepage/css/nouislider.min.css">
    <link rel="stylesheet" href="/homepage/css/ionicons.min.css">
    <link rel="stylesheet" href="/homepage/css/plyr.css">
    <link rel="stylesheet" href="/homepage/css/photoswipe.css">
    <link rel="stylesheet" href="/homepage/css/default-skin.css">
    <link rel="stylesheet" href="/homepage/css/main.css">


    <meta name="author" content="Rubin Salim">
    <title>Cinema 182</title>

</head>
<body class="body">

<!-- header -->
<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">

                        <!-- header logo -->
                        <a href="$WebPath.getHOME_PAGE()" class="header__logo">
                            <img src="/homepage/images/logo-cinema182.png" width="180" height="140" alt="CINEMA 182">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="$WebPath.getHOME_PAGE()" role="button" >Home</a>
                            </li>
                            <!-- end dropdown -->
                            <li class="header__nav-item">

                            </li>


                        </ul>

                        <div class="w3-container">
                            <button class="header__nav-link" onclick="document.getElementById('id01').style.display='block'" role="button" type="submit" >Book a film</button>
                            <div class="w3-modal" id="id01">
                                <div class="w3-modal-content w3-animate-zoom w3-card-4">
                                    <header class="w3-container w3-pink">
                                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                        <h2>Not logged in!</h2>
                                    </header>
                                    <div class="w3-container">
                                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                        <br>
                                        <p>Please login first! Close this window and click the glowing pink Sign In button on the top right of the page.</p>
                                        <br><br>
                                    </div>
                                    <footer class="w3-container w3-pink">
                                        <button type="button" class="w3-btn w3-display-bottomleft" data-dismiss="modal" onclick="document.getElementById('id01').style.display='none'">
                                            <i data-feather="x"></i> Close
                                        </button>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <a href="$WebPath.getLOGIN_PAGE()" class="header__sign-in">
                                <i class="icon ion-ios-log-in"></i>
                                <span>sign in</span>
                            </a>
                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- end header -->

<!-- home -->
<section class="home">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>Films</b> Now playing</h1>

                <div class="container">
                    <!-- content tabs -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                            <div class="row">
                                <!-- card -->

                                #foreach($film in $filmList)
                                    <div>
                                       <a href="$WebPath.getHOME_PAGE()film/$film.getFilmid()/view/">
                                        <button style="padding-left: 20px; padding-bottom: 10px; margin: 5px" type ="submit" name="buttonFilm" value="$film.getFilm()">
                                            <img class ="filmImage"src = "$film.getFilmimageloc()" width="240" height="320">
                                        </button>
                                       </a>
                                    </div>
                                #end

                                <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                <!-- end card -->

</section>
<!-- end home -->

<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- footer list -->
            <div class="col-12 col-md-3">
                <h6 class="footer__title">Download Cinema 182 App</h6>
                <ul class="footer__app">
                    <li><a href="http://fti.untar.ac.id/"><img src="/homepage/images/FTILOGO.png" width="240" alt="Fakultas Teknologi Informasi Universitas Tarumanagara"></a></li>
                </ul>
            </div>
            <!-- end footer list -->

            <!-- footer list -->
            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer__title">Resources</h6>
                <ul class="footer__list">
                    <li><a href="http://fti.untar.ac.id/">About Us</a></li>
                    <li><a href="mailto:rubin.535180123@stu.untar.ac.id">Help</a></li>
                </ul>
            </div>
            <!-- end footer list -->


            <!-- footer list -->
            <div class="col-12 col-sm-4 col-md-3">
                <h6 class="footer__title">Contact</h6>
                <ul class="footer__list">
                    <li><a href="tel:+62215676260">+62 21 5676260</a></li>
                    <li><a href="mailto:rubin.535180123@stu.untar.ac.id">rubin.535180123@stu.untar.ac.id</a></li>
                    <li><a href="https://www.google.com/maps/dir//Tarumanagara+University+Campus+1,+Letjen+S.+Parman+St+No.1,+RT.6%2FRW.16,+Tomang,+Grogol+petamburan,+West+Jakarta+City,+Jakarta+11440/@-6.1694228,106.7857374,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x2e69f65c8572640d:0xc0a066d78372614e!2m2!1d106.7891017!2d-6.1694025">Gedung R Universitas Tarumanagara Lantai 7</a></li>
                </ul>
            </div>
            <!-- end footer list -->

        </div>
    </div>
</footer>
<!-- end footer -->

<!-- JS -->
<script src="js/main.js"></script>
</body>

</html>