<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" href="/register/images/icons/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/register/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/register/fonts/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/register/fonts/iconic/css/material-design-iconic-font.min.css" type="text/css">
    <link rel="stylesheet" href="/register/vendor/animate/animate.css" type="text/css">
    <link rel="stylesheet" href="/register/vendor/css-hamburgers/hamburgers.min.css" type="text/css">
    <link rel="stylesheet" href="/register/vendor/animsition/css/animsition.min.css" type="text/css">
    <link rel="stylesheet" href="/register/vendor/select2/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/register/vendor/daterangepicker/daterangepicker.css" type="text/css">
    <link rel="stylesheet" href="/register/css/util.css" type="text/css">
    <link rel="stylesheet" href="/register/css/main.css" type="text/css">

    <!--===============================================================================================-->
    <title>Login </title>

</head>
<body>
<form method="post" class="register" action="$WebPath.getREGISTER_PAGE()">
<div class="limiter">
    <div class="container-login100" style="background-image: url('/register/images/register-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form">
					<span class="login100-form-title p-b-35">
						Register
					</span>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "First Name is required">
                    <span class="label-input100">First Name</span>
                    <input class="input100" type="text" name="fname" placeholder="Type your first name" required>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Last Name is required">
                    <span class="label-input100">Last Name</span>
                    <input class="input100" type="text" name="lname" placeholder="Type your last name" required>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="email" placeholder="Type your email" required>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>



                <div class="wrap-input100 validate-input" data-validate="Password is required" style=">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" placeholder="Type your password" required>
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Register
                        </button>
                    </div>
                </div>
            </form>

                <div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
                </div>

                <div class="flex-c-m">
                    <a href="http://www.facebook.com" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="http://www.twitter.com" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="http://www.gmail.com" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>

                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


</body>
</html>